<nav class="navbar navbar-expand-lg navbar-dark bg-primary mb-3">
  <div class="top-bar">
    <div class="title">课表查询系统</div>
    <form class="form-inline logout" (ngSubmit)="onSubmit()">
      <button class="btn btn-outline-light my-2 my-sm-0" type="submit">注销</button>
    </form>
  </div>

  <div>
    <div class="sidebar">
      <ul>
        <li class="nav-item">
          <a class="nav-link"
             routerLink=""
             routerLinkActive="active"
             [routerLinkActiveOptions]="{exact: true}">首页 <span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item" *ngIf="role">
          <a class="nav-link"
             routerLink="user"
             routerLinkActive="active">用户管理</a>
        </li>
        <li class="nav-item" *ngIf="role">
          <a class="nav-link"
             routerLink="clazz"
             routerLinkActive="active">班级管理</a>
        </li>
        <li class="nav-item" *ngIf="role">
          <a class="nav-link"
             routerLink="school"
             routerLinkActive="active"
             >学校管理</a>
        </li>
        <li class="nav-item" *ngIf="role">
          <a class="nav-link"
             routerLink="term"
             routerLinkActive="active">学期管理</a>
        </li>
        <li class="nav-item">
          <a class="nav-link"
             routerLink="course"
             routerLinkActive="active">课程管理</a>
        </li>
        <li class="nav-item">
          <a class="nav-link"
             routerLink="course-schedule"
             routerLinkActive="active">课表查询</a>
        </li>
        <li class="nav-item">
          <a class="nav-link"
             routerLink="lesson"
             routerLinkActive="active">我的课程</a>
        </li>
        <li class="nav-item">
          <a class="nav-link"
             routerLink="my"
             routerLinkActive="active">我的课表</a>
        </li>
        <li class="nav-item">
          <a class="nav-link"
             routerLink="trip"
             routerLinkActive="active">行程管理</a>
        </li>
        <li class="nav-item">
          <a class="nav-link"
             routerLink="personal-center"
             routerLinkActive="active">个人中心</a>
        </li>
      </ul>
    </div>
  </div>

  <footer class="footer">
    <p>&copy; 2024 梦云智 课程管理系统</p>
  </footer>
</nav>
