<div>
  <h2>编辑课表</h2>
</div>
<hr>
<form class="container-sm" [formGroup]="formGroup" style="margin: 40px 0px 0px 0px">
  <div class="mb-3 row">
    <label class="col-sm-2 col-form-label">学校名称</label>
    <div class="col-sm-10">
      <app-school-select formControlName="school_id" (beChange)="onSchoolChange($event)"></app-school-select>
      <small class="text-danger" *ngIf="formGroup.get('school_id')!.invalid">
        必须选择学校
      </small>
    </div>
  </div>
  <div class="mb-3 row">
    <label class="col-sm-2 col-form-label">班级名称</label>
    <div class="col-sm-10">
      <select class="form-control" formControlName="clazz_id">
        <option [ngValue]="null">所有班级</option>
        <option *ngFor="let clazz of clazzes" [value]="clazz.id">
          {{clazz.name}}
        </option>
      </select>
      <small class="text-danger"
             *ngIf="formGroup.get('clazz_id')!.invalid">
        必须指定一个班级
      </small>
    </div>
  </div>
  <div class="mb-3 row">
    <label class="col-sm-2 col-form-label">学期名称</label>
    <div class="col-sm-10">
      <select class="form-control" formControlName="term_id">
        <option [ngValue]="null">所有班级</option>
        <option *ngFor="let term of terms" [value]="term.id">
          {{term.name}}
        </option>
      </select>
      <small class="text-danger"
             *ngIf="formGroup.get('term_id')!.invalid">
        必须指定一个班级
      </small>
    </div>
  </div>
  <div class="mb-3 row">
    <label class="col-sm-2 col-form-label">课程名称</label>
    <div class="col-sm-10">
      <input type="text" class="form-control" formControlName="name">
      <small class="text-danger" *ngIf="formGroup.get('name')!.invalid">
        课程名称不能为空
      </small>
    </div>
  </div>
  <div class="mb-3 row">
    <label class="col-sm-2 col-form-label">上课时间</label>
    <div class="col-sm-10">
      <input type="text" class="form-control" formControlName="week">
      <small class="text-danger" *ngIf="formGroup.get('week')!.invalid">
        上课时间不能为空
      </small>
    </div>
  </div>
  <div class="mb-3 row" style="margin: 40px 0px 0px 0px">
    <div class="col-sm-3 offset-sm-1" style="margin: 0px 0px 0px 200px">
      <button appLoading class="btn btn-primary" (click)="onSubmit()" [disabled]="formGroup.invalid || formGroup.pending">
        <i class="fa fa-save"></i>保存
      </button>
    </div>
    <div class="col-sm-3 offset-sm-1">
      <button mat-button class="btn btn-secondary" (click)="onNoClick()">取消</button>
    </div>
  </div>
</form>

