<div>
  <h2>新增课程</h2>
</div>
<hr>
<form class="container-sm" style="margin: 40px 0px 0px 0px">
  <div class="mb-3 row">
    <label class="col-sm-2 col-form-label">学校名称</label>
    <div class="col-sm-10">
      <app-school-select (beChange)="onSchoolChange($event)"></app-school-select>
      <small class="text-danger"
             *ngIf="course.school_id === null">
        必须指定一个学校
      </small>
    </div>
  </div>
  <div class="mb-3 row" *ngIf="course.school_id !== null">
    <label class="col-sm-2 col-form-label">班级名称</label>
    <div class="col-sm-10">
      <select class="form-control" [(ngModel)]="course.clazz_id" name="course.clazz_id" id="course.clazz_id">
        <option [ngValue]="null">所有班级</option>
        <option *ngFor="let clazz of clazzes" [value]="clazz.id">
          {{clazz.name}}
        </option>
      </select>
      <small class="text-danger"
             *ngIf="course.clazz_id === null">
        必须指定一个班级
      </small>
    </div>
  </div>
  <div class="mb-3 row" *ngIf="course.school_id !== null">
    <label class="col-sm-2 col-form-label">学期</label>
    <div class="col-sm-10">
      <select class="form-control" [(ngModel)]="course.term_id" (change)="onTermChange(course.term_id)" name="course.term_id" id="course.term_id">
        <option [ngValue]="null">所有学期</option>
        <option *ngFor="let term of terms" [value]="term.id">
          {{term.name}}
        </option>
      </select>
      <small class="text-danger"
             *ngIf="course.term_id === null">
        必须指定一个学期
      </small>
    </div>
  </div>
  <div class="mb-3 row">
    <label for="name" class="col-sm-2 col-form-label">课程名称</label>
    <div class="col-sm-10">
      <input type="text" class="form-control" [(ngModel)]="course.name" name="name" id="name">
      <small class="text-danger"
             *ngIf="course.name === ''">
        课程名称不能为空
      </small>
    </div>
  </div>
  <div class="mb-3 row">
    <label class="col-sm-2 col-form-label">类别：</label>
    <div class="col-sm-10" (change)="onSoryChange()">
      <div class="form-check form-check-inline">
        <input class="form-check-input" type="radio" id="sory-bi"
               name="sory"
               [(ngModel)]="course.sory"
               [value]="1">
        <label class="form-check-label" for="sory-bi">必修</label>
      </div>
      <div class="form-check form-check-inline">
        <input class="form-check-input" type="radio" id="sory-option"
               name="sory"
               [(ngModel)]="course.sory"
               [value]="0">
        <label class="form-check-label" for="sory-option">选修</label>
      </div>
    </div>
  </div>
  <div class="mb-3 row" *ngIf="course && course.sory === 0">
    <label class="col-sm-2 col-form-label">用户</label>
    <div class="col-sm-10">
      <select class="form-control" [(ngModel)]="course.user_id" name="course.user_id" id="course.user_id">
        <option [ngValue]="null">请选择用户</option>
        <option *ngFor="let user of users" [value]="user.id">
          {{user.name}}
        </option>
      </select>
      <small class="text-danger"
             *ngIf="course.user_id === null">
        必须指定一个用户
      </small>
    </div>
  </div>
  <div class="mb-3 row">
    <label for="name" class="col-sm-2 col-form-label">选择周数</label>
    <mat-form-field>
      <mat-label class="col-sm-2 col-form-label">选择周数</mat-label>
      <mat-select [(ngModel)]="course.week" name="course.week" multiple>
        <mat-option *ngFor="let week of weeks" [value]="week">{{ week }} 周</mat-option>
      </mat-select>
    </mat-form-field>
  </div>
  <div class="mb-3 row">
    <label for="name" class="col-sm-2 col-form-label">周几上课</label>
    <div class="col-sm-10">
    <select [(ngModel)]="course.day" name="course.day">
        <option *ngFor="let day of days" [value]="day.value">{{ day.name }}</option>
      </select>
    </div>
  </div>
  <div class="mb-3 row">
    <label for="name" class="col-sm-2 col-form-label">课程名称</label>
    <div class="col-sm-10">
      <select [(ngModel)]="course.period" name="course.period">
        <option *ngFor="let period of periods" [value]="period.value">{{ period.name }}</option>
      </select>
    </div>
  </div>
  <div class="mb-3 row" style="margin: 20px 0px 0px 0px">
    <div class="col-sm-3 offset-sm-1" style="margin: 0px 0px 0px 200px">
      <button class="btn btn-primary" (click)="onSubmit()"
              [disabled]="course.name === '' ||
                          course.sory === null ||
                          (course.sory === 0 && course.user_id === null) ||
                          course.school_id === null ||
                          course.clazz_id === null ||
                          course.term_id === null">保存
      </button>
    </div>
    <div class="col-sm-3 offset-sm-1">
      <button mat-button class="btn btn-secondary" (click)="onNoClick()">取消</button>
    </div>
  </div>
</form>

