<form class="container-sm" (ngSubmit)="onSubmit()">
<div class="mb-3 row">
    <label>学校名称</label>
  </div>
  <div class="mb-3 row">
    <label for="term" class="col-sm-2 col-form-label">学期</label>
    <div class="col-sm-10">
      <input type="text" class="form-control" [(ngModel)]="term.term" name="term" id="term">
      <small class="text-danger"
             *ngIf="term.term === ''">
        学期不能为空
      </small>
    </div>
  </div>
  <div class="mb-3 row">
    <label for="start_time" class="col-sm-2 col-form-label">开始时间</label>
    <div class="col-sm-10">
      <input type="date" class="form-control" [(ngModel)]="term.start_time" name="start_time" id="start_time">
      <small class="text-danger"
             *ngIf="term.start_time === ''">
        开始时间不能为空
      </small>
    </div>
  </div>
  <div class="mb-3 row">
    <label for="end_time" class="col-sm-2 col-form-label">结束时间</label>
    <div class="col-sm-10">
      <input type="date" class="form-control" [(ngModel)]="term.end_time" name="end_time" id="end_time">
      <small class="text-danger"
             *ngIf="term.end_time === ''">
        结束时间不能为空
      </small>
    </div>
  </div>
  <div class="mb-3 row">
    <div class="col-sm-10 offset-2">
      <button class="btn btn-primary">保存
      </button>
    </div>
  </div>
</form>
