<div class="container-md main">
  <div class="row">
    <div class="col-md-8">
      <form class="form-inline d-flex justify-content-between" style="width: 750px"
            (ngSubmit)="onSubmit(searchForm)" #searchForm="ngForm">
        <div class="form-group mb-2">
          <label class="mr-2">学期：</label>
          <select class="form-control" [(ngModel)]="searchParameters.term" name="term_id" id="term_id">
            <option [ngValue]="null">所有学期</option>
            <option *ngFor="let term of termsBySchool" [value]="term.id">
              {{term.name}}
            </option>
          </select>
        </div>
        <div class="form-group mb-2">
          <label class="mr-2">状态：</label>
          <select class="form-control" name="sory" type="text"
                  [(ngModel)]="searchParameters.sory">
            <option value=null>请选择</option>
            <option value="1">必修</option>
            <option value="0">选修</option>
          </select>
        </div>
        <div class="form-group mb-2">
          <label class="mr-2">课程：</label>
          <input name="name" type="text" class="form-control" placeholder="课程名称..."
                 [(ngModel)]="searchParameters.course">
        </div>
        <div class="form-group mb-2">
          <button class="btn btn-outline-success mb-2" type="submit">查询</button>
        </div>
      </form>
    </div>
    <div class="col-md-4 text-right">
      <a class="btn btn-primary mb-2" (click)="openAddDialog()"><i class="fas fa-plus"></i>新增</a>
    </div>
  </div>
    <table class="table table-striped">
      <thead>
      <tr class="table-primary">
        <th>序号</th>
        <th>学期名称</th>
        <th>课程名称</th>
        <th>类别</th>
        <th>上课周数</th>
        <th>周几上课</th>
        <th>第几节课</th>
        <th>操作</th>
      </tr>
      </thead>
      <tbody>
      <tr *ngFor="let lesson of pageData.content;index as i">
        <td>{{ i + 1 }}</td>
        <td>{{lesson.termName }}</td>
        <td>{{ lesson.course.name}}</td>
        <td>{{ lesson.course.sory | sory}}</td>
        <td>{{ lesson.course.week }}</td>
        <td>{{ getDayName(lesson.course.day) }}</td>
        <td>{{ getPeriodName(lesson.course.period) }}</td>
        <td>
          <div class="btn-inline" *ngIf="lesson.course.sory !== 1">
            <span class="btn btn-sm btn-outline-danger" (click)="onDelete(i, lesson.id)">
                <i class="far fa-trash-alt"></i>删除
            </span>
          </div>
        </td>
      </tr>
      </tbody>
    </table>
  <app-page [page]="pageData" (bePageChange)="onPage($event)"></app-page>
</div>

