<form (ngSubmit)="onChangePassword()" #changePasswordForm="ngForm">
  <div>
    <label for="oldPassword">Old Password:</label>
    <input type="password" id="oldPassword" required [(ngModel)]="passwordData.oldPassword" name="oldPassword">
  </div>
  <div>
    <label for="newPassword">New Password:</label>
    <input type="password" id="newPassword" required [(ngModel)]="passwordData.newPassword" name="newPassword">
  </div>
  <div>
    <label for="confirmNewPassword">Confirm New Password:</label>
    <input type="password" id="confirmNewPassword" required [(ngModel)]="passwordData.confirmNewPassword" name="confirmNewPassword">
  </div>
  <div *ngIf="passwordMismatch">
    Passwords do not match!
  </div>
  <button type="submit" [disabled]="changePasswordForm.form.invalid || passwordMismatch">Change Password</button>
</form>
