<div class="container-md main">
  <div class="row">
    <div class="col-4 text-right">
      姓名：
    </div>
    <div class="col-8">
      {{me.name}}
    </div>
  </div>
  <div class="row">
    <div class="col-4 text-right">
      用户名：
    </div>
    <div class="col-8">
      {{me.username}}
    </div>
  </div>
  <div class="row">
    <div class="col-4 text-right">
      性别：
    </div>
    <div class="col-8">
      {{me.sex | sex}}
    </div>
  </div>
  <div class="row">
    <div class="col-4 text-right">
      班级：
    </div>
    <div class="col-8">
      {{me.clazzId}}
    </div>
  </div>
  <div class="row">
    <div class="col-4 text-right">
      角色：
    </div>
    <div class="col-8">
      {{me.role}}
    </div>
  </div>
  <div class="row">
    <div class="col-4 text-right">
      状态：
    </div>
    <div class="col-8">
      {{me.state}}
    </div>
  </div>
</div>
